{% load static %}
{% load textbook_filters %}
{% for book in books %}

    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 center">
        <div class="book-view">
            {% with 'textbook/'|str_add:book.textbook_clas.slug|str_add:'/'|str_add:book.textbook_subject.slug|str_add:'/'|str_add:book.id|str_add:"/origin.jpg" as img_path %}
                <img src="{% static img_path %}" class="img-responsive" alt="Responsive image">
            {% endwith %}

            <div class="book-mask"></div>
            <a href="{% url 'textbook:book' book.textbook_clas.slug book.textbook_subject.slug book.slug %}" class="book-link">
                <span class="book-info">
                    <span>{{ book.textbook_clas.name }} клас</span><br />
                    <span>{{ book.textbook_subject.title }}</span><br />
                    <span>{{ book.author }}</span><br />
                    <span>{{ book.year|default:"" }}</span><br />
                </span>
                <div class="article-view-count">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ book.view_count }}
                </div>
            </a>

        </div>
    </div>
{% endfor %}

<div class="clearfix"></div>