<li class="dropdown">
    <a href="{% url 'textbook:index' %}" tabindex="0" data-toggle="dropdown" data-submenu="">
        Підручники<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for item in items %}
            <li class="dropdown-submenu">
                <a href="{% url 'textbook:clas' item.slug %}" tabindex="0">{{ item.name }} клас</a>
                <ul class="dropdown-menu">
                    {% for subject in item.clas_subjects.all %}

                        {% if subject.is_promote == 1 %}
                            <li><a href="{% url 'textbook:subject' item.slug subject.slug %}" tabindex="0">{{ subject.title }}</a></li>
                            {% else %}
                            <li><a rel="nofollow" href="{% url 'textbook:subject' item.slug subject.slug %}" tabindex="0">{{ subject.title }}</a></li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</li>
