{% extends 'main/base.html' %}

{% block title %}
    {{ page_title }}
    {% if page > '1' %}
         | Сторінка {{ page }}
    {% endif %}
{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Всезнайка" "knowall:index" %}
    {% breadcrumb "Всезнайка "|add:category.title "knowall:category" category.slug %}
{% endblock %}
{% block content %}
    {{ block.super }}

    {% block h1 %}
        <h1 class="center">{{ h1 }}
            {% if page > '1' %}
                <small> | Сторінка {{ page }}</small>
            {% endif %}
        </h1>
    {% endblock %}

{#    {{ render(controller('AdsBundle:Default:adsPlace', {'place': 'below-h1', 'entity': entity})) }}#}

    {% include 'knowall/_articles.html' %}

    <div class="clearfix"></div>

{#    {{ render(controller('AdsBundle:Default:adsPlace', {'place': 'under-pagination', 'entity': entity})) }}#}

    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous and articles.previous_page_number > 1 %}
                <a href="{% url paginate_link category.slug articles.previous_page_number %}">previous</a>
            {% elif articles.previous_page_number == 1 %}
                <a href="{% url link category.slug %}">previous</a>
            {% endif %}

{#            {% for page in articles.paginator.page_range %}#}
{#                <li class="{% if articles.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>#}
{#            {% endfor %}#}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="{% url paginate_link category.slug articles.next_page_number %}">next</a>
            {% endif %}
        </span>
    </div>

    {% if page == 1 %}
        <div class="description">
            {{ category.description|default:""|safe }}
        </div>
    {% endif %}

{% endblock %}

