{% load static %}
{% load textbook_filters %}
{% for article in articles %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="item-block writing-block">
            {% with article.id|str_add:article.slug|md5 as hash %}
                <a href="{{ article.get_absolute_url }}">
                    <img src="{% static "writing/thumbs/"|str_add:hash|str_add:"/"|str_add:article.slug|str_add:'.'|str_add:article.thumbnail_ext %}" class="img-responsive thumbnail writing" alt="">
                {{ article.title }}</a>
            {% endwith %}

            <div class="article-view-count">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ article.writing_clas.slug }} клас |
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  {{ article.writing_subject.title }}
            </div>

            <div class="article-view-count">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> |
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ article.create_time|unix_date|date:"Y-m-d" }}
            </div>
        </div>
    </div>
{% endfor %}