{% load gdz_filters %}
<div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion_{{ parent_id }}_{{ child }}" href="#collapse_{{ parent_id }}_{{ child }}">
                    {{ section|section_name }}
                </a>
            </h4>
        </div>
        <div id="collapse_{{ parent_id }}_{{ child }}" class="panel-collapse collapse">
            <div class="panel-body">
                {% include 'gdz/_task.html' with item=item %}

            </div>
        </div>

</div>
