{% extends 'main/base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Про нас" "main:about" %}
{% endblock %}

{% block content %}


    <h1 class="center">{{ h1 }}</h1>

    <div class="">
        <p>
            Ми молода та амбіційна команда, яка поставила перед собою ціль - створити надійного онлайн помічника для кожного учня нашої прекрасної України. На нашому порталі зібрані усі підручники, які рекомендовані міністерством освіти України. Одна з найбільших баз готових домашніх завдань для українських шкіл в інтернеті. Створено онлайн бібліотеку художньої літератури, яка використовується у навчанні української та зарубіжної літературах. Також ми збираємо приклади шкільних творів. Ну і найцікавіший розділ всезнайка - де є багато цікавого.
        </p>

    </div>

{% endblock %}

