{% extends 'main/base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Правовласникам" "main:rigtholder" %}
{% endblock %}

{% block content %}


    <h1 class="center">{{ h1 }}</h1>

    <div class="">
        <p>
            Команда порталу SHKOLYAR.INFO не несе відповідальності за використання розміщеної на даному порталі інформації. Деякі розділи порталу формувалися з матеріалів, які є відкритими та абсолютно вільно доступними в мережі інтернет. Всі матеріали порталу представлені лише для перегляду в ознайомчих цілях.
        </p>
        <p>
            Ми знаємо, що таке авторські права і тому намагаємося їх не порушувати. Тому усі авторські матеріали, які використовуються на нашому сайті - належать виключно їх правовласникам. Але якщо ми випадково порушили Ваші авторські права на якийсь матеріал і опублікували його на нашому порталі і це приносить Вам шкоду або Ви проти цього, то просимо Вас написати нам за
            <a href="{% url 'main:contact' %}">адресою</a>, вказавши матеріал, який порушує Ваші авторські права і Ваші авторські права на даний матеріал. Після розгляду листа ми обов'язково видалимо матеріал, який порушує Ваші авторські права.
        </p>
        <p>
            Згідно ст. 53 Конституції України, держава забезпечує доступність і безоплатність дошкільної, повної загальної середньої, професійно-технічної, вищої освіти в державних і комунальних навчальних закладах, тому доступ до усіх шкільних підручників, рекомендованих Міністерством освіти, в тому числі їх електронних версій, не може обмежуватись ніяким чином, відповідно, вільне завантаження текстових, сканованих та інших версій шкільних підручників є повністю законним.
        </p>

    </div>

{% endblock %}

